.search-result {
    width: 361px;
    padding: 10px;
}

.search {
    display: flex;
    width: 361px;
    height: 46px;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    align-items: center;

    input {
        border: none;
        font-size: 1.6rem;
        color: var(--back);
        background-color: transparent;
        outline: none;
        height: 100%;
        flex: 1;
        margin-left: 16px;

    }

    input:not(:placeholder-shown)~.search-btn {
        background-color: rgba(22, 24, 35, 0.06);
    }

    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.2);
    }

}

.loading,
.clear {
    border: none;
    position: relative;
    right: 15px;
}

.loading {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.span {
    height: 26px;
    border-left: 1px solid rgba(22, 24, 35, 0.2);
}

.search-btn {
    width: 52px;
    height: 100%;
    border: none;
    outline: none;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    align-self: center;

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.06);

    }
}

.search-title {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 600;
    padding: 10px;
}